.project-modules-area{
  display: flex;

}
.project-modules-area .base-info {
  display: flex;
  flex-wrap: wrap;
}
.project-modules-area .base-info div {
  padding:20px;
  width:300px;
  height:300px;
  min-width: 300px;
  min-height:300px;
  max-width:15%;
  flex: 1 0 25%;
}
