<div class="project-container common-area" [@inShowArea]="inShowArea?'show':'none'">
  <div class="common-title"><h2>Projects</h2></div>
  <div class="project-modules-area">
    <div class="base-info area">
      <div *ngFor="let project of projectList">
        <app-mini-card title="{{project.getServiceName()}}" type="image" supportType="detail" backgroundResource="{{project.getProjectTech()}}"></app-mini-card>
      </div>
    </div>
    <div class="area-title area-sm">
      <p>Application 정보</p>
    </div>
  </div>
</div>
