.about-contents {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}
.area {
  width: 100%;
}
.area-title {
  font-family: 'Kdam Thmor Pro', sans-serif font-sizelarge;
  font-size: 40px;
}
.about-contents .base-info {
  padding : 5%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.base-info p {
  font-size: large;
}
