<div class="admin-panel-container">
  <div class="side-menu-container box-shadow bg-gray">
    <mat-list color="primary">
      <mat-list-item class="pointer hvr-sweep-to-right" *ngFor="let menu of subMenuList" routerLink="{{menu.getPath()}}">
        <div class="menu-item">
          <i class="fa-solid fa-book"></i>
          <span>{{ menu.getDisplayName() }}</span>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>
  </div>
  <div class="child-routes-container">
    <div class="navigation">

    </div>
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
