.admin-panel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y : scroll;
}
.child-routes-container {
  padding: 10px;
}
.side-menu-container {
  width: 14%;
  height: 100%;
}
.child-routes-container {
  width: 80%;
  display: flex;
  justify-content: center;
}
.child-routes-container .router-wrapper {
  width: 100%;
  height:100%;
}
.menu-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
}
