<div class="nav-container">
  <div class="nav-front">
    <i class="fa-solid fa-2x fa-bars pointer"
       (click)="drawer.toggle()"
       style="color:white">
    </i>
  </div>
  <div class="nav-center">
<!--    <div class="menu-container">-->
<!--      <div class="menu-item hvr-sweep-to-top" *ngFor="let menu of menuList" routerLink="{{menu.getPath()}}">-->
<!--        <h2>{{menu.getDisplayName()}}</h2>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="nav-end">
    <!--관리자 모드로 변경-->
      <button class="hvr-icon-buzz-out"mat-button (click)="openDialog()">
        인증토큰
        <i class="fa-solid fa-key"></i>
      </button>
  </div>
</div>
