<div class="contact-container common-area bg-gray" [@inShowArea] = "inShowArea?'show':'none'">
  <div class="common-title"><h2>CONTACT</h2></div>
  <div class="bg-white tab-container focus-center">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="message">
        <div class="direct-message-area">
          <div class="message-description-area">

          </div>
          <div class="message-contents-area">
            <form #captchaProtectedForm="ngForm">
              <mat-form-field>
                <mat-label>name</mat-label>
                <input matInput [(ngModel)]="mailDto.mailerName" name="mailerName"/>
              </mat-form-field>
              <mat-form-field appearance="fill" class="max-width">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="mailDto.title" name="title">
              </mat-form-field>
              <mat-form-field appearance="fill" class="max-width">
                <mat-label>Contents</mat-label>
                <textarea rows="17" matInput [(ngModel)]="mailDto.contents" name="contents"></textarea>
              </mat-form-field>

              <re-captcha [(ngModel)]="mailDto.captcha" name="captcha" required #captchaControl="ngModel"></re-captcha>
              <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
              <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
              <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
              <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div>
<!--              <button (click)="mailDto.captcha = ''">Reset Captcha</button>-->
            </form>


            <div class="button-area">
              <button mat-button (click)="submit()">Send</button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Chat">
        <div class="chat-area ">
          <div class="chatroom-area scroll-item">
            <div class="room-item" *ngFor="let room of chatRooms">
              <div>
                <span>{{room.roomName}}</span>
              </div>
              <div>
                <button mat-button (click)="enterRoom(room.roomId)">입장</button>
              </div>
            </div>
          </div>
          <div class="chat-contents-area">
            <div class="viewer">
              <div class="chat-message-wrapper" *ngFor="let message of messages">
                <p style="color: blue">{{message.userName}}</p>
                <span>{{message.message}}</span>

              </div>
            </div>
            <div class="features">

            </div>
            <div class="input">
              <mat-form-field class="w90" appearance="fill">
                <mat-label>메세지를 입력하세요</mat-label>
                <input matInput [(ngModel)]="chatMessage">
              </mat-form-field>
              <button mat-button (click)="publishChatMessage()">Send</button>
            </div>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>


</div>
