<div class="career-container common-area">
  <div class="common-title"><h2>CAREER</h2></div>

  <div class="slider-wrapper">
    <div class="career-list-wrapper">
      <div class="career-item  pointer hvr-overline-from-left" [ngClass]="getCurrentPageNum()===1?'active':''"(click)="showPageNum(1, 'nextlab')">
        <p>2017.12 ~ 2019.06</p>
        <p>넥스트랩</p>
      </div>
      <div class="career-item  pointer hvr-overline-from-left" [ngClass]="getCurrentPageNum()===2?'active':''"(click)="showPageNum(2 , 'gridwiz')">
        <p>2019.12 ~ 2022.06</p>
        <p>그리드위즈</p>
      </div>
    </div>
    <div class="slider">
      <div [@slideTimeLine]="getCurrentPageNum()==1?'show':'disable'" class="slider-item">
       <markdown [src]="pageSrcBlob[0]"></markdown>
      </div>
      <div [@slideTimeLine]="getCurrentPageNum()==2?'show':'disable'" class="slider-item">
        <markdown [src]="pageSrcBlob[1]"></markdown>
      </div>
    </div>
  </div>
</div>

