<div class="file-management-container">
  <div class="inner-form">
    <div class="command-container">
      <div matTooltip="관리할 파일을 생성합니다." class="rounded-button bg-blue pointer box-shadow" (click)="addFileManageItem()"(mouseover)="changeInState()" (mouseout)="changeOutState()" >
        <div  [@turnaround]="mouseIn? 'in' : 'out'">
          <i  class="fa-solid fa-2x fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="file-upload-container" *ngFor="let file of fileList">
      <mat-toolbar  class="rounded-top" >
        <span>{{file.getDisplayName()}} [{{file.getProvidedType()}}]</span>
        <span class="spacer"></span>
        <div class="rounded-button bg-red pointer">
          <i class="fa-solid fa-minus"></i>
        </div>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <div class="file-uplaod-row">
        <span>{{file.getFilePath()}} \\ {{file.getFilename()}}</span>
        <input class="upload-name" placeholder="파일선택" disabled>
        <div class="rounded-button pointer bg-blue " >
          <i class="fa-solid fa-2x fa-paperclip"></i>
        </div>
        <input id="{{file.getDocName()}}" type="file"/>
      </div>
    </div>
  </div>
</div>
