<div class="intro-navigation-container">
  <div class="icon-container">
    <div class="icon-career">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="icon-career">
      <i class="fa-solid fa-suitcase"></i>
    </div>
    <div class="icon-career">
      <i class="fa-solid fa-download"></i>
    </div>
    <div class="icon-career">
      <i class="fa-solid fa-diagram-project"></i>
    </div>
    <div class="icon-career">
      <i class="fa-solid fa-message-middle"></i>
    </div>
  </div>
</div>
