<div class="index-nav-container">
  <div class="fixed-login-button">
    <div (click)="openLoginDialog()">
      <i class="fa-solid fa-key"></i>LOGIN
    </div>
  </div>
  <div class="index-container">
    <div class="main-link-text pointer">LINKS</div>
    <div class="link-detail pointer">
      <div (click)="openIntroAccessHelper()">INTRO</div>
      <mat-divider></mat-divider>
      <div (click)="openWorkingDialog()">BLOG</div>
    </div>
    <div class="img-filter">

    </div>
  </div>
</div>
