<div class="side-menu-container">
  <div class="side-area">
      <div class="menu-icons pointer hvr-shutter-in-vertical " routerLink="/">
        <div class="icon"><i class="fa-solid fa-2x fa-house"></i></div>
        <div class="tag">INTRO</div>
      </div>
    <div class="menu-icons pointer hvr-shutter-in-vertical " *ngFor="let menu of menuList" routerLink="{{menu.getPath()}}">
      <div class="icon"><i class="fa-solid fa-2x fa-house"></i></div>
      <div class="tag">{{menu.getDisplayName()}}</div>
    </div>
  </div>
</div>
